# Project Specific

### Carthage ###
# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

## Various Settings
xcuserdata/
